In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('cars.csv')
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4.0,140.0,86.0,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4.0,97.0,52.0,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4.0,135.0,84.0,2295,11.6,82,US
404,Ford Ranger,28.0,4.0,120.0,79.0,2625,18.6,82,US
405,Chevy S-10,31.0,4.0,119.0,82.0,2720,19.4,82,US

In [16]:
#mean and median
df['Weight'].mean()

np.float64(2979.4137931034484)

In [17]:
#median centre values
df['Weight'].median()

np.float64(2822.5)

In [18]:
#mean and median(max and min)
df['Weight'].max()

np.int64(5140)

In [19]:
df['Weight'].min()

np.int64(1613)

In [20]:
#sum and count
df['Weight'].sum()

np.int64(1209642)

In [21]:
#count
df['Weight'].count()

np.int64(406)

In [22]:
#standard deviation and mode
df['Weight'].std()

np.float64(847.0043282393509)

In [23]:
#mode
df['Weight'].mode()

0    1985
1    2130
Name: Weight, dtype: int64

In [24]:
#product and quantile
df['Cylinders'].product()

np.float64(4.2378626510690295e+290)

In [25]:
#quantile
df['Cylinders'].quantile()

np.float64(4.0)

In [27]:
#combine aggregate function
df['Cylinders'].agg(['mean', 'median', 'max', 'min'])

mean      5.469136
median    4.000000
max       8.000000
min       3.000000
Name: Cylinders, dtype: float64