In [1]:
import pandas as pd

In [8]:
#create DataFrame with different columns names
#crate DataFrames 1
df1 = pd.DataFrame([
    [5,2],
    [5,3]
]) 
df1.columns = ['A','B']
df1

   A  B
0  5  2
1  5  3

In [5]:
#create DataFrames 2
df2 = pd.DataFrame([
    [2,5],
    [5,6]
])
df2.columns = ['C','D']
df2

   C  D
0  2  5
1  5  6

In [7]:
#output DataFrames
df1.join(df2)

   A  B  C  D
0  1  5  2  5
1  5  2  5  6

In [9]:
#create DataFrames with same columns
df1 = pd.DataFrame([
    [5,2],
    [5,3]
]) 
df1.columns = ['A','B']
df1

   A  B
0  5  2
1  5  3

In [10]:
df2 = pd.DataFrame([
    [2,5],
    [5,6]
])
df2.columns = ['C','D']
df2

   C  D
0  2  5
1  5  6

In [11]:
df1.join(df2, lsuffix='_df1', rsuffix='_df2')

   A  B  C  D
0  5  2  2  5
1  5  3  5  6